#page{
    width: 20vw;
    height: auto;
    position: relative;
    top:30vh;
    left:30vw;
    box-shadow: 0px 0px 7px 2px grey;
    padding: 5vw;
}
label{
    font-weight: bolder;
    font-size: larger;
    text-shadow: 5px 5px 7px orchid;
}
input[type=button]{
    box-shadow: 0px 0px 7px 2px orchid;
}